@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #050505;
    font-family: "Inter", sans-serif;
}
.logo{
    color: white;
    font-size: 30px;
}
.ul{
    color: white;
    font-size: 20px;
    display: flex;
    margin-left: 5px;
}
ul{
   display: flex;
   gap: 20px;
   list-style: none;
    
  
    
}

.navcontaienr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 8px;
}
.btns{
    padding: 15px 20px;
    background-color: #1A1A1A;
    color: white;
    font-size: 15px;
    font: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.btns:hover{
    background-color: white;
    color: #050505;
}
.heading{
    color: white;
    font-size: 110px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
}
.btn1{
    background-color: #1A1A1A;
    color: white;
    padding: 15px 18px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;

}
.btn1-active{
    background-color: #FF5A1F;
     padding: 15px 18px;
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    color: white;

}
.btn1:hover{
    background-color: #FF5A1F;
}
.btnsection{
    margin-top: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.card-container{
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.card{
    border-radius: 8px;
    background-color: #1A1A1A;
     padding: 20px;
}
.btn3{
    background-color: #f89462 ;
    color: #FF5A1F;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;

}
.headings{
    margin-top: 5px;
    color: white;
    font-size: 20px;
}
.container{
    margin-top: 5px;
}
.parabotom{
    color: grey;
    font-size: 14px;
    margin-top: 10px;
}